<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Go Corona Go !! </title>
</head>

<body>
	<h1 style="color: blue">Wake up call</h1>
  <p>  Good Morning 2222222222 !!!  </p>
  <p>-------  Venky </p>
  <img src="{{ url_for('static', filename='img/test.png') }}" style="height:1280%;" alt="">
  <img src="{{ url_for('static', filename='img/test2.png') }}" style="height:1280%;" alt="">
  <img src="{{ url_for('static', filename='img/test3.png') }}" style="height:1280%;" alt="">
  

</body>

</html>
